<div id="<%= dom_id product %>">
  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.Quantity %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= product.Make %>
  </p>

</div>
